<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Canard ASCII</title>
    <style>
        * {
            font-family: sans-serif;
        }
    </style>
</head>
<body>
    <h1>Hey! You seems to be lost</h1>
    <p>Please go to <a href="http://canard-ascii/index.html">this website</a></p>
</body>
</html>