upstream canard-ascii {
    server 162.38.112.131;
    server 162.38.112.135;
    server 162.38.112.133;
    server 162.38.112.140;
}

server {
    listen   80;
    server_name   {{ DEFAULT_SERVER_NAME }};
	location / {
        proxy_pass http://canard-ascii;
    }
}