upstream canardascii {
    server 192.168.33.14:8080;
    server 192.168.33.15:8080;
    server 192.168.33.16:8080;
    server 192.168.33.17:8080;
}

server {
    listen 80;
    server_name {{ DEFAULT_SERVER_NAME }};
    location / {
        proxy_pass http://canardascii;
    }
}